{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "singleQuote": false,
    "quoteProps": "consistent",
    "useTabs": false,
    "insertPragma": false
}
